Options -Indexes
ErrorDocument 404 "<html><head><title>403 Forbidden</title><style>body {font-family: Arial, sans-serif;background-color: #f7f7f7;color: #333;text-align: center;margin: 0;padding: 0;display: flex;justify-content: center;align-items: center;height: 100vh;}h1 {font-size: 48px;color: #e74c3c;margin-bottom: 20px;}a {font-size: 18px;color: #3498db;text-decoration: none;padding: 10px 20px;border: 2px solid #3498db;border-radius: 5px;transition: background-color 0.3s, color 0.3s;}a:hover {background-color: #3498db;color: white;}</style></head><body><div><h1>Nothing Here</h1><a href='./'>Go Home</a></div></body></html>"